* {
  font-family: sans-serif;
}

td, th {
  border: solid black 1px;
  padding: 10px;
}

thead, tfoot {
  background: lightgray;
}

fieldset {
  margin-top: 20px;
}

legend {
  font-size: 20px;
  font-weight: bold;
}

label {
  font-size: 12px;
  font-weight: bold;
}

button, input {
  border-radius: 3px;
}